body {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    border: 2px solid black;
    font: normal small-caps bold 16px/30px  Arial, sans-serif;

    border-radius: 10px;

}

.structural {
    margin: 10px;
    padding: 10px;
}

h1 {
    
    text-align: center;
    color: #950000;
    font-size: bold 24px;

}

h2 {
    color: #ffb41d;
    font-size: 20px;
}

main {
    height: 70vh;
    overflow: auto;

}

img {
    border: 1px solid #000;
    width: 90%;
    height: 80%;

}

figure {
    background-color: #f8a116;
    width: 45%;
    height: 60%;
    margin: auto;
    padding: 10px;
}

#figure1 {
    float: left;
    width: 420px;
}

#figure2 {
    float: right;
    width: 420px;

}

section {
    clear: both;
}

figcaption {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    padding: 5px;
}

a {
    color: #00f;
}

a:hover {
    color: #f00;
}

ul {
    list-style-type: square;
    line-height: 2;
}

header, footer {
    background-color: #f8a116;
    clear: both;
}

